<%= form_for :user, url: passwords_reset_path, method: :post, authenticity_token: false do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Cambiar contraseña" %>
  </div>

<% end %>
